:root {
color: #3745bc;
}

.navbar {
background-color: #f1fefe;
}

.nav-link.active {
border-bottom: 2px solid #00dbd0;
}

.navbar-button {
border: 2px solid #00dbd0;
}

.navbar-button:hover {
background-color: #00dbd0;
color: #fff;
}

.hero-1 {
background: linear-gradient(#f1fefe, #fcffff);
}

.hero-1-button {
background-color: #00dbd0;
color: #fff;
}

.hero-1-left {
padding: 10vw;
}

.hero-1-image {
height: 40vh;
padding: 3vw;
border: 2px solid #00dbd0;
}

.hero-1-image-overlay {
height: 60vh;
}

.hero-2-top {
text-align: center;
width: 60%;
margin: auto;
}

.hero-2-bottom {
margin: 5vh auto;
width: 90%;
}

.hero-2-container {
width: 18vw;
}

.hero-3 {
background-color: #fcffff;
padding: 10vh;
}

.hero-3-top {
text-align: center;
width: 60%;
margin: auto;
}

.hero-3-bottom {
margin: 5vh auto;
}

.hero-3-container {
height: 20vh;
width: 10vw;
object-fit: contain;
}

.hero-4 {
margin: 5vh auto;
width: 50%;
}

.hero-4-display-picture {
margin: 3vh 6vw;
width: 10vw;
border-radius: 50%;
}

.hero-4-pages {
width: 1vw;
height: 2vh;
margin: 5px;
border-radius: 50%;
border: 1px solid #00dbd0;
}

.hero-4-pages-filled {
background-color: #00dbd0;
}

.hero-5 {
margin: 20vh auto 0;
width: 50%;
}

.form-control {
border: 0px none;
}

.hero-5-button {
background-color: #00dbd0;
color: #fff;
}

.left-image {
position: absolute;
left: -50%;
}

.hero-6 {
margin: 20vh auto;
}

.card {
margin: 5vh;
border: 0px none;
}

.card-img-top {
border-top-left-radius: 5%;
border-top-right-radius: 5%;
}

.card-title {
color: #00dbd0;
}

.hero-6-card-link {
color: #000;
text-decoration: none;
}
.hero-6-card-link-underline {
margin: auto;
display: block;
width: 20%;
margin-top: 10px;
border-bottom: 2px solid #00dbd0;
}

.footer {
background: url("./assets/FooterBackground.png") no-repeat;
padding: 5vh;
color: #fff;
}

.footer-nav-link {
color: #fff;
text-decoration: none;
}